# Data Importing and Data Preparation

In [33]:
# Dependencies and setup
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import csv
from datetime import date

In [18]:
# defining data path
path=Path('Resources/Raw_data/testData.csv')

In [19]:
# Reading data source using pandas
rent_df=pd.read_csv(path)

ParserError: Error tokenizing data. C error: Expected 7 fields in line 172, saw 8

### Getting an error with 7 columns name but some rows have 8 columns. 
### Using CSV Reader to get the columns name and handaling this error so that can easily read with pandas

In [20]:
# Reading a csv file using CSV module for handaling error
with open(path, 'r') as f:
    csv_reader = csv.reader(f, delimiter=',')
    columns = next(csv_reader)
    print(columns)

['name', 'dob', 'houseID', 'houseZip', 'paymentDate', 'paymentAmount', 'rentAmount']

In [21]:
# Defining the columns name(adding new column name "extra")
names=columns+["extra"]

In [22]:
# Reading data source using pandas read_csv
rent_df=pd.read_csv(path, skiprows=1,names=names)

## Looking some information of the dataframe

In [23]:
#Looking top rows of rent_df dataframe
rent_df.head()

,name,dob,houseID,houseZip,paymentDate,paymentAmount,rentAmount,extra
0,Karima Germany,05/23/1951,1192,92154,11/01/2011,1321,1321.0,NaN
1,Agustina Spargo,01/01/1900,21,92111,20110906,2289,2289.0,NaN
2,Lucilla Broderick,01/01/1900,1474,92159,20111101,1439,1439.0,NaN
3,Russ Mchale,04/20/1977,2015,92137,20120701,1744,1744.0,NaN
4,Carmelita Ritzer,03/09/1969,311,92136,20110201,1471,1471.0,NaN

In [24]:
# Columns of rent_df dataframe
rent_df.columns

Index(['name', 'dob', 'houseID', 'houseZip', 'paymentDate', 'paymentAmount',
       'rentAmount', 'extra'],
      dtype='object')

In [ ]:
# Shape of rent_df datafrmae
shape=rent_df.shape
print(f'The number of rows are: {shape[0]}, number of columns are: {shape[1]}')

In [25]:
#Information of the dataframe using .info()
rent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59813 entries, 0 to 59812
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           56903 non-null  object
 1   dob            59813 non-null  object
 2   houseID        59813 non-null  object
 3   houseZip       59813 non-null  int64
 4   paymentDate    59813 non-null  object
 5   paymentAmount  59281 non-null  object
 6   rentAmount     59775 non-null  float64
 7   extra          2910 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.7+ MB

In [26]:
#looking for nan value
rent_df.isna().sum()

name              2910
dob                  0
houseID              0
houseZip             0
paymentDate          0
paymentAmount      532
rentAmount          38
extra            56903
dtype: int64

In [27]:
#filling NAN with 0 in extra column
rent_df['extra']=rent_df['extra'].fillna(0)
rent_df

,name,dob,houseID,houseZip,paymentDate,paymentAmount,rentAmount,extra
0,Karima Germany,05/23/1951,1192,92154,11/01/2011,1321,1321.0,0.0
1,Agustina Spargo,01/01/1900,21,92111,20110906,2289,2289.0,0.0
2,Lucilla Broderick,01/01/1900,1474,92159,20111101,1439,1439.0,0.0
3,Russ Mchale,04/20/1977,2015,92137,20120701,1744,1744.0,0.0
4,Carmelita Ritzer,03/09/1969,311,92136,20110201,1471,1471.0,0.0
...,...,...,...,...,...,...,...,...
59808,Jennell Buchholtz,05/21/1983,1095,92196,20101001,1744,1744.0,0.0
59809,Berneice Power,08/24/1984,196,92123,20100401,1756,1756.0,0.0
59810,Micki Belvin,01/01/1900,1692,92166,20120701,1896,1896.0,0.0
59811,Emilee Samford,01/01/1900,686,92191,20120528,1668,1451.0,0.0
59812,Astrid Laurence,05/15/1988,159,92120,01/01/2011,1134,1134.0,0.0